@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
}

.standard-icon {
  width: 2em;
  height: 2em;
}

.icon {
  width: 1em;
  height: 1em;
  cursor: pointer;
}

/**
 * Set up a decent box model on the root element
 */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: orpheuspro, serif;
  font-weight: 400;
  font-style: normal;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 0px) {
  body {
    overflow-x: hidden;
    position: relative;
  }
  .body-fixed {
    position: fixed;
  }
  .hamburger {
    z-index: 19;
  }
  header {
    position: absolute;
    z-index: 19;
    width: 100vw;
  }
  header .is-active {
    -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 0;
    padding: 0.5em;
    width: 100%;
    height: 10vh;
  }
  header nav p {
    color: black;
    font-size: 1.2em;
  }
  header nav .logo-box {
    position: absolute;
    left: .8rem;
    top: .8rem;
  }
  header nav .logo-box img {
    height: 4.5rem;
  }
  header nav .logo-box p {
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    display: none;
  }
  header nav .nav-links {
    margin: 0;
    position: fixed;
    z-index: 100;
    right: 0px;
    height: 100vh;
    width: 80%;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
    background-color: black;
    list-style: none;
    padding: 2rem;
  }
  header nav .nav-links li {
    opacity: 1;
    padding: .5em 1em;
    text-align: center;
    font-weight: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.3em;
    position: relative;
    text-transform: uppercase;
    overflow: hidden;
  }
  header nav .nav-links li a {
    color: white;
    text-decoration: none;
  }
  header nav .nav-links li::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: white;
    bottom: 0;
    position: absolute;
    -webkit-transform: translateX(-101%);
            transform: translateX(-101%);
  }
  header nav .nav-links li:hover::after {
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  header nav .nav-links li:nth-child(1) {
    margin-top: -3em;
  }
  header nav .nav-links.is-active {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  header nav .nav-links .social-media {
    position: absolute;
    left: 1rem;
    top: 45%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav .nav-links .social-media img {
    width: 1.5rem;
    margin-bottom: 1rem;
  }
  header nav .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .wrap .cart-btn {
    margin-right: 1rem;
    position: relative;
    cursor: pointer;
  }
  header nav .wrap .cart-btn .cart-icon img {
    width: 2rem;
  }
  header nav .wrap .cart-btn .cart-items {
    background-color: black;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    padding: 3px 8px;
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    font-size: 0.875rem;
  }
  header .navlinks-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    background: rgba(0, 0, 0, 0.4);
    z-index: 99;
  }
  header .navlinks-overlay.is-active {
    -webkit-transform: translate(0%);
            transform: translate(0%);
    -webkit-animation: fadeIn 0.5s ease-in;
            animation: fadeIn 0.5s ease-in;
  }
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@media (min-width: 768px) {
  header nav {
    height: 10vh;
    padding: 0.5em;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header nav .nav-links li {
    font-size: 1.5rem;
  }
  header nav .logo-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    height: 100%;
    top: unset;
    left: unset;
  }
  header nav .logo-box img {
    height: 3.5rem;
    margin-right: 0.5rem;
  }
  header nav .logo-box p {
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    display: block;
  }
}

@media (min-width: 1024px) {
  .hamburger {
    display: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  header {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
    width: 100vw;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0 1em;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
  }
  header nav .nav-links {
    margin: 0;
    position: relative;
    right: unset;
    height: auto;
    top: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: unset;
            transform: unset;
    -webkit-transition: unset;
    transition: unset;
    background-color: transparent;
    list-style: none;
    width: auto;
  }
  header nav .nav-links li {
    opacity: 1;
    padding: .5em;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: 0.875rem;
  }
  header nav .nav-links li:nth-child(1) {
    margin-top: 0em;
    border-bottom: none;
  }
  header nav .nav-links .social-media {
    display: none;
  }
}

@media (min-width: 1200px) {
  header {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
    width: 100vw;
  }
  header .is-active {
    -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    z-index: 100;
  }
}

/* burger css */
.hamburger {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: inherit;
  background-color: transparent;
  border: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger .hamburger-inner {
  width: 30px;
  height: 2px;
  position: absolute;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.hamburger .hamburger-inner::before, .hamburger .hamburger-inner::after {
  content: '';
  content: '';
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.hamburger .hamburger-inner:before {
  -webkit-transform: rotate(0deg) translate(0px, -4px);
          transform: rotate(0deg) translate(0px, -4px);
}

.hamburger .hamburger-inner:after {
  -webkit-transform: rotate(0deg) translate(0px, 4px);
          transform: rotate(0deg) translate(0px, 4px);
}

.hamburger.is-active .hamburger-inner::before {
  -webkit-transform: rotate(-45deg) translate(0px, 0px);
          transform: rotate(-45deg) translate(0px, 0px);
}

.hamburger.is-active .hamburger-inner::after {
  -webkit-transform: rotate(45deg) translate(0px, 0px);
          transform: rotate(45deg) translate(0px, 0px);
}

.btn {
  cursor: pointer;
  padding: 10px 30px;
  border: 0;
  color: white;
  text-decoration: none;
  margin-right: 0.5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn:hover {
  opacity: .8;
}

.btn-primary {
  background-color: #d00000;
}

.btn-success {
  background-color: #198754;
}

.btn-danger {
  background-color: #dc3545;
}

.btn-info {
  background-color: #0dcaf0;
}

.btn-warning {
  background-color: #ffc107;
  color: black;
}

.btn-secondary {
  background-color: #6c757d;
}

.btn-dark {
  background-color: #212529;
}

.btn-light {
  background-color: #f8f9fa;
  color: black;
}

.standard-icon {
  width: 2em;
  height: 2em;
  margin-right: 1em;
}

/* --------------- Hero ---------------- */
@media (min-width: 0em) {
  #hero {
    width: 100vw;
    height: 500px;
  }
  #hero .container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0.5rem;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(/images/paidimg01.jpg) center/cover;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/paidimg01.jpg) center/cover;
  }
  #hero .container h1 {
    color: white;
    margin-bottom: 1rem;
  }
  #hero .container p {
    color: #a9a9a9;
    text-align: center;
    margin-bottom: 1rem;
  }
  #hero .container .cta {
    padding: 10px 30px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
  }
  /* --------------- End of Hero ---------------- */
  /* --------------- Products ---------------- */
  #products {
    padding: 1rem 0;
    width: 100%;
  }
  #products .heading {
    text-align: center;
  }
  #products .heading h2 {
    margin-bottom: 1rem;
  }
  #products .products-center {
    width: 100%;
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
  }
  #products .products-center .product {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 1rem;
  }
  #products .products-center .product .img-container {
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #products .products-center .product .img-container img {
    width: 100%;
    max-width: 250px;
    max-height: 100%;
  }
  #products .products-center .product .btns {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #products .products-center .product .btns .bag-btn {
    background: #d00000;
    border: none;
    text-transform: uppercase;
    padding: 10px 30px;
    letter-spacing: 2px;
    cursor: pointer;
    color: white;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  #products .products-center .product .btns .bag-btn:hover {
    opacity: .7;
  }
  #products .products-center .product .btns .bag-btn:disabled {
    opacity: .7;
    cursor: not-allowed;
  }
  #products .products-center .product h3 {
    text-transform: capitalize;
    margin-top: 1rem;
    font-size: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  #products .products-center .product h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: var(--primaryColor);
    text-align: center;
    margin-bottom: 1rem;
  }
  #products .products-center .img-container:hover .bag-btn {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  #products .products-center .product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    -webkit-transition: var(--mainTransition);
    transition: var(--mainTransition);
  }
  #products .products-center .img-container:hover .product-img {
    opacity: 0.5;
  }
  /* ---------------prod modal ---------------- */
  #prod-modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 23;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
  }
  #prod-modal-overlay .prod-modal {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 100%;
    background: #f9f9f9;
    padding: 4rem 2rem 2rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 24;
    overflow-y: scroll;
  }
  #prod-modal-overlay .prod-modal img {
    width: 100%;
    margin-bottom: 1rem;
  }
  #prod-modal-overlay .prod-modal h3 {
    margin-bottom: 1rem;
  }
  #prod-modal-overlay .prod-modal .price {
    margin-bottom: 1rem;
  }
  #prod-modal-overlay .prod-modal .desc {
    line-height: 1.5;
    color: #a9a9a9;
    margin-bottom: 1rem;
  }
  #prod-modal-overlay .prod-modal .modal-btn:hover {
    opacity: .7;
  }
  #prod-modal-overlay .prod-modal .modal-btn:disabled {
    opacity: .7;
    cursor: not-allowed;
  }
  #prod-modal-overlay .prod-modal .item-qty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    border: 1px solid #a4a4a4;
    background-color: white;
    max-width: 14rem;
  }
  #prod-modal-overlay .prod-modal .item-qty input[type='number'] {
    padding: 0.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    opacity: .85;
    width: 3rem;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    text-align: center;
  }
  #prod-modal-overlay .prod-modal .item-qty .qty-btn {
    font-size: 1.4rem;
    width: 1rem;
    border: 0;
    padding: 0 1rem;
    background-color: transparent;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: black;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #prod-modal-overlay .prod-modal .item-qty .qty-btn:hover {
    background-color: #f8f9fa;
  }
  #prod-modal-overlay .prod-modal .close-modal {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  #prod-modal-overlay .prod-modal #arr-imgs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    width: 100%;
    grid-gap: 1rem;
  }
  #prod-modal-overlay .prod-modal #arr-imgs img {
    width: 100%;
    max-width: 250px;
  }
  /* --------------- Cart ---------------- */
  .cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 22;
    visibility: hidden;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }
  .cart {
    position: absolute;
    width: 100%;
    max-width: 500px;
    right: 0;
    height: 100%;
    overflow: scroll;
    z-index: 33;
    background: #fff;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 2rem;
  }
  .cart .cart-content {
    width: 100%;
  }
  .cart .cart-content p {
    text-align: center;
  }
  .cart .cart-content .empty-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .showCart {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .transparentBcg {
    visibility: visible;
  }
  .close-cart {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    left: 1rem;
    top: 2rem;
  }
  .close-cart .line {
    height: 3px;
    width: 30px;
    position: relative;
  }
  .close-cart .line::after {
    background-color: black;
    position: absolute;
    content: '';
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    height: 100%;
    width: 100%;
  }
  .close-cart .line::before {
    background-color: black;
    position: absolute;
    content: '';
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    height: 100%;
    width: 100%;
  }
  .cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
  }
  /*---------- Cart Item -------------------- */
  .cart-item {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: auto 1fr auto;
        grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
    border-bottom: 1px solid #ced4da;
    padding-bottom: 1rem;
  }
  .cart-item .cart-product-img {
    width: 75px;
    height: 75px;
  }
  .cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
  }
  .item-amount {
    text-align: center;
  }
  .remove-item {
    color: grey;
    cursor: pointer;
  }
  /*---------- End of Cart Item -------------------- */
  .cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
  .cart-buttons {
    display: inline-block;
    width: 100%;
  }
  .cart-buttons .purchase-btn {
    padding: 15px;
    width: 100%;
    border: 0;
    text-transform: uppercase;
    background-color: #d00000;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 2px;
    cursor: pointer;
  }
  .cart-buttons .purchase-btn img {
    width: 1rem;
    margin-left: 0.5rem;
  }
  .cart-buttons .purchase-btn:disabled {
    opacity: .70;
    cursor: not-allowed;
  }
  .cart-buttons .purchase-btn:hover {
    opacity: .70;
  }
}

/* --------------- End of Cart ---------------- */
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/*# sourceMappingURL=main.css.map */